// Place all the styles related to the api::breweries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-page-images {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.show-page-section {
  background-color: #E0AB64;
  opacity: .85;
  border-radius: 10px;
}
