// Place all the styles related to the api::checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkin-item-parent {
  padding: 5px;
  margin: 10px;
  background-color: #E0AB64;
  // opacity: .90;
  // border: solid 1px black;
  border-radius: 10px;
}

.checkin-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.checkin-item-rs {
  display: flex;
  flex-direction: row;
  width: 300px;
  // align-items: space-between;
  // flex: 1;
}

.checkin-item-ls {
  // flex: 1;
  display: flex;
  flex-direction: row;
  width: 300px
  // justify-content: space-between;
}

.chkn-itm-ls-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.chkn-itm-rs-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-checkin-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px black solid;
  width: auto;
  padding: 35px;
  background-color: #E0AB64;
  border-radius: 10px;
  min-height: 400px;

}

#checkin-list {
  display: flex;
  flex-direction: column-reverse;
}

.input-field {
  width: 250px;
  height: 24px;
}

.text{
  height: 75px;
}

.checkin-form-container {
  // border: 2px solid grey;
  // opacity: .78;
  border-radius: 10px;
}

.checkin-form-box {
  // border: solid 1px black;
  background-color: #E0AB64;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px
}

.checkin-form {
  display: flex;
  flex-direction: row;
}

.checkin-form-left {
  margin: 5px;
}
.checkin-form-right {
  margin: 5px;
}

.checkin-form-flex {
  display: flex;
  flex-direction: row;
}

.modal-scolling {
  position: absolute;
  height: 65%;
  width: 250px;
  overflow: auto;
  border: 2px solid grey;
  border-radius: 5px;

}

#highlighted-item {
  background-color: #7d8a1d;
}

.search-index-item {
  text-align: left;
  background-color: #E0D164;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

.ma {
  margin: 5px;
}

.maYX2 {
  margin: 5px 10px;
}

.maX2 {
  margin: 0 10px;
}

.ma2 {
  margin: 10px;
}

.paX2 {
  padding: 0 10px;
}

.paY {
  padding: 5px 0;
}
.paY2{
  padding: 10px 0;
}
.maC {
  margin: auto;
}

.search-index-item:hover {
  background-color: #A4B141;
}
