.navbar_container {
  background-color: #7d8a1d;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.navbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
}

.navbar-middle-side {
  // align-content: space-between;
  display: flex;
  justify-content: space-between;

}

.navbar-right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.navbar-items {
  flex: 1;
}

.nav-link-parent{
}

.navlink-signup {
  font: black;
  font-weight: 700;
  font-size: 20px,
}

.greeting {
  margin: 5px;
}

.logo {
  width: 300px;
}

.square-buttons {
  // border: solid 1px black;
  height: 50px;
  width: 25%;
  background-color: #E0D164;
  border-radius: 10px;
  // margin: 5;
}

.circle-buttons {
  // border: solid 1px black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
  opacity: inherit;
  background-color: #E0D164;
  font-size: 12px;
}
