// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



button {
  cursor: pointer;
}

button:hover {
  background-color: #E0AB64;
}

body {
  height: 100%;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

body {
  // background-color: #E0D164
}

h2 {
  font: black;
  font-weight: 700;
  font-size: 24px,
}

h3 {
  font: black;
  font-weight: 700;
  font-size: 20px,
}


body {
  background-image: url(http://res.cloudinary.com/dkeart1zy/image/upload/v1500499040/giphy_ibhdli.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-position: left;


}

.app-page-container {
  max-width: 700px;
  margin: auto;
}

.app-page-display {

}
