<!DOCTYPE html>
<html>
  <head>
    <title>beertendr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/0fe63d7742.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
